<!-- Navbar tcuy -->
<div id="navbar" class="w-full fixed top-0 left-0 bg-transparent text-white z-20 backdrop-blur shadow-lg">
    <div class="flex justify-between items-center px-6 py-4 bg-transparent">
        <a href="index.html">
            <img src="./img/icon.png" alt="Icon" class="h-12 w-auto">
        </a>
        <nav>
            <ul class="flex space-x-4">
                <!-- <li><a href="index.html" class="font-amuro text-xl hover:text-palette-sunset">Index</a></li> -->
                <li><a href="#home"
                        class="font-amuro text-xl hover:bg-black text-black rounded-lg py-2 px-4 hover:text-white">Home</a>
                </li>
                <li><a href="#about"
                        class="font-amuro text-xl hover:bg-black text-black rounded-lg py-2 px-4 hover:text-white">Tentang</a>
                </li>
                <li><a href="#skills"
                        class="font-amuro text-xl hover:bg-black text-black rounded-lg py-2 px-4 hover:text-white">Kelebihan</a>
                </li>
            </ul>
        </nav>
    </div>
</div>